<h1>AJAX Atomics - 01</h1>

<script type="text/javascript" src="/global.js"></script>

<h1>Why are you able to make requests to /info1 and /info2 even though there are no route handlers for those paths defined in app.rb?</h1>
<p>We can make requests to /info1 and /info2 even without route handlers because we're the HTMLHttpRequest object.</p>