<h1>AJAX Atomics - 02</h1>

<script type="text/javascript" src="/global.js"></script>

<h3>
    What is the difference between this atomic and the first atomic?
</h3>
<p>The only difference between exercises 01 and 02 was that in 02 we use the app.rb file to route calls for the response, whereas in exercise 01 we hard coded the path right into the javascript. </p>